    .modal-header h3 {
    font-size: 30px;
    color: blueviolet;
    /* 置中 */
    position: absolute;
    top: 7%;
    left: 50%;
    transform: translate(-50%, -50%);
    }
    
    .modal-body form .account,
    .modal-body form .password {
    margin: 30px;
    width: 90%;
    border-radius: 20px;
    }
    
    .remember {
    margin-top: 0%;
    margin-bottom: 20px;
    margin-left: 36px;
    }
    
    .modal-body form .btn {
    width: 100%;
    font-size: 25px;
    color: white;
    }

    .member{
        border-bottom: none;
    }